.ant-drawer-content,
.ant-drawer-header,
.ant-drawer-title {
	color: #040404;
}

.ant-drawer-body {
	display: flex;
	flex-direction: column;
}

.ant-drawer-title {
	font-size: 18px;
	color: #040404;
}
