.indexMain {
	width: 100%;
	margin-top: 70px;
	padding-top: 70px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #f8f8f8;

	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.section {
			display: flex;
			margin: 20px 0px;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			// padding: 0px 10px;
			font-size: 20px;
			// text-align: center;

			.block {
				display: flex;
				max-width: 1000px;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: center;

				p {
					width: auto;
					max-width: 400px;
					min-width: 300px;
					// margin-bottom: 20px;
				}

				img {
					max-width: 400px;
					width: 100%;
					height: auto;
					margin: 0px 20px 20px 20px;
				}
			}
		}

		// .wrap {
		// 	flex-wrap: wrap;
		// }

		.reverseWrap {
			display: flex;
			flex-wrap: wrap-reverse !important;
		}

		.typewriterTitle {
			display: flex;
			margin-bottom: 50px;

			h1,
			h2 {
				margin: 0px;
			}

			.typewriter {
			}
		}
	}
}

.primary {
	background-color: #fbe2b1 !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	justify-content: space-between;
}

.triangleReverse {
	width: 0;
	height: 0;
	border-bottom: 100px solid #fbe2b1;
	border-left: 100vw solid transparent;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 100px solid #fbe2b1;
	border-left: 100vw solid transparent;
}
