.workPagesMain {
	width: 100%;
	min-height: 100%;
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #040404;
	// background-color: #091f36;

	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		img {
			max-width: 700px;
			width: 100%;
			height: auto;
			margin-bottom: 20px;
		}

		.block {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 30px 8px;
		}

		.block + .block {
			border-top: 1px solid #f9f9f9;
		}

		.solution {
			width: 100%;
			display: flex;
			justify-content: center;

			.pars {
				display: flex;
				flex-direction: column;
				padding: 30px 8px;
				// color: #040404;
			}
		}

		.title {
			font-size: 30px;
			text-decoration: underline;
		}

		.subtitle {
			font-size: 22px;
		}
	}

	.topics {
		min-width: 250px;
	}

	h1,
	h2,
	h3 {
		color: #040404;
	}

	p {
		font-size: 17px;
		max-width: 800px;
		min-width: 200px;
	}
}
