.footer {
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;
	padding: 20px;
	padding-top: 0px;
	align-items: center;

	.info {
		display: flex;
		width: 100%;
		max-width: 1500px;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 20px;

		.intro {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			h3 {
				margin: 5px 0px;
			}

			p {
				margin: 0px;
				font-size: 14px;
			}

			.logo {
				height: auto;
				width: 200px;
				margin-bottom: 20px;
			}
		}

		.list {
			margin: 20px 0px;
			min-width: 150px;

			h3 {
				margin: 0px;
				font-weight: bold;
			}

			ul {
				padding: 0px;
				margin-top: 7px;
				list-style-type: none;

				a {
					color: #040404;
				}

				a:hover {
					color: #fec75c;
				}

				li {
					margin: 10px 0px;
				}
			}
		}

		.sect {
			display: flex;
		}

		a {
			text-decoration: none;
			font-size: 13px;
			height: 100%;
		}
	}

	.section {
		display: flex;
		padding: 40px 0px;
		width: 100vw;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		font-size: 20px;

		.block {
			display: flex;
			width: 100%;
			max-width: 1000px;
			flex-direction: column;
			align-items: center;
			font-size: 22px;
			text-align: center;

			a {
				color: #040404;
				text-decoration: underline;
			}

			a:hover {
				text-decoration-line: line-through;
				text-decoration-color: #040404;
			}

			p {
				width: auto;
				max-width: 400px;
				min-width: 300px;
				margin-left: 5px;
				margin-right: 5px;
			}

			.hero {
				height: auto;
				width: 100%;
				max-width: 1000px;
				margin-bottom: 20px;
			}
		}
	}
}

.primary {
	background-color: #fbe2b1 !important;
}

.triangleReverse {
	width: 0;
	height: 0;
	border-bottom: 70px solid #fbe2b1;
	border-left: 100vw solid transparent;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 70px solid #fbe2b1;
	border-left: 100vw solid transparent;
}
